/* Cores
cinza #5c5c5c
branco #f5f5f5
preto #1a1a1a
vermelho #e63946
vermelho botao c72c3d
sombra box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
*/

body {
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: #5c5c5c;
    margin: 0;
    padding: 0;
}

p {
    padding-left: 300px;
    padding-right: 300px;
    margin: 30px;
    font-size: 20px;
    text-align: justify;
    color: #f5f5f5;
    line-height: 1.6;
}

.cabecalhoIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #1a1a1a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    gap: 20px;
    background-image: url(Imagens/index.jpg);
    background-size: cover;
}

.imagemPerfil {
    width: 200px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.tituloIndex {
    font-size: 50px;
    -webkit-text-stroke: 0.15px #2c2b2b;
    color: #f5f5f5;
    font-weight: 900;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.link {
    text-decoration: none;
    color: #e63946;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #f5f5f5;
}

.botaoDiv {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botao {
    background-color: #e63946;
    color: #f5f5f5;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: none;
    text-align: center;
}

.botao:hover {
    background-color: #5c5c5c;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 25px;
}

.fotos figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    transition: transform 0.3s ease-in-out;
}

.fotos figure:hover {
    transform: scale(1.05);
}

.rodape {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: #f5f5f5;
    bottom: 0;
}

.rodapeindex {
    text-align: center;
    color: #f5f5f5;
    background-color: #e63946;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cabecalhoCarreira {
    text-align: center;
    padding: 200px 20px;
    background-image: url(Imagens/program.jpg);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.titulo {
    font-size: 100px;
    -webkit-text-stroke: 0.15px #2c2b2b;
    padding: 10px;
    margin: 0;
    color: #f5f5f5;
    font-weight: 900;
}

.botaoVoltar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #e63946;
    color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.botaoVoltar:hover {
    background-color: #c72c3d;
    transform: scale(1.1);
}

.cabecalhoHobbies {
    text-align: center;
    padding: 200px 20px;
    background-image: url(Imagens/montanha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.subtitulo {
    font-size: 22px;
    color: #bbb;
    font-size: 32px;
    color: #e9e4e5;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 650;
    -webkit-text-stroke: 0.15px #e63946;
}

.fotos img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.spotify {
    width: 300px;
    height: 80px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.cabecalhoSonhos {
    text-align: center;
    padding: 200px 20px;
    background-image: url(Imagens/cataratas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* ESTÁ SENDO USADO */





/*






.cabecalho {
    text-align: center;
    padding: 40px 20px;
    background-color: #1a1a1a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}











.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}






.galeria {
    text-align: center;
    padding: 40px 20px;
}

*/