.title {
    color: orangered;
    /* font-size: 100px; */
    font-weight: bold;
    padding: 20px;
    background-color: lightgray;
    background-size: auto;
    text-align: center;

}

.rodape {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.subtitle {
    text-align: center;
}

.spotify {
    width: 50%;
    height: 352px;
    border-radius: 12px;
    padding-bottom: 10px;
}

.img {
    border-radius: 50%;
    width: 10%;
    height: auto;
    float: left;
}

.links {
    color: black;
    text-align: justify;
    font-size: 20px;
    font-weight: normal;

}

.fotos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: left;
}

.fotos img {
    width: 15%;
    height: auto;
    border-radius: 8px;
}

.fotos figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

iframe{
    border: none;
}
